<!DOCTYPE html>
    
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pruebas Vue.js</title>        
    </head>
    <body>        
        <main>
            <ul>
                <li v-for="juego in buscarJuego">
                    {{ juego.titulo }}
                </li>
            </ul>
            <input type="range" min="0" max="10" v-model="minimo">
            <input type="text" v-model="busqueda" placeholder="Buscar Juego">
            <pre>{{ $data }}</pre>
        </main>

        <!-- Vue.js -->
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js" ></script>
        <!--Javascript Propio-->
        <script type="text/javascript" src="js/funciones.js" ></script>
    </body>
</html>
